<picture>
  <h1
    #heroHeading
    class="font-bold mt-10 text-white z-50 absolute text-[clamp(1rem,12vmin,20rem)] lg:text-9xl text-center"
  >
    100 DAYS OF CSS
  </h1>

  <img
    class="absolute bottom-0 left-0 object-cover bush1"
    src="../../../../assets/bush1.png"
    alt="brush"
  />
  <img
    #bush2
    class="absolute bottom-0 left-0 object-cover bush2"
    src="../../../../assets/bush2.png"
    alt="brush"
  />
  <img
    #leaf1
    class="absolute bottom-0 left-0 object-cover leaf1"
    src="../../../../assets/leaf1.png"
    alt="leaf"
  />
  <img
    #leaf2
    class="absolute bottom-0 left-0 object-cover leaf2"
    src="../../../../assets/leaf2.png"
    alt="leaf"
  />
  <img
    #mount1
    class="absolute bottom-0 left-0 object-cover mount1"
    src="../../../../assets/mount1.png"
    alt="mount1"
  />
  <img
    #mount2
    class="absolute bottom-0 left-0 object-cover mount2"
    src="../../../../assets/mount2.png"
    alt="mount2"
  />
  <p class="absolute bottom-0 right-0 m-2 z-50 text-xs opacity-30 text-white">
    Assets CodeArry
  </p>
</picture>
