main {
  background: #3b3291;
  color: white;
  padding: 0.75rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section {
  color: black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
  gap: 0.75rem;
  max-width: 1024px;
  margin: 0 auto;
}
